@font-face {
    font-family: "milkshake";
    src: url(plc/Milkshake.otf);
}

p, h1
{
    color: rgb(22, 22, 158);
    text-align: center;
}

h2, strong
{
    color: rgb(192, 62, 23);
    text-align: center;
}

body
{
    font-size: x-large;
    background-image: url(img/fond.png);
    font-family: "milkshake";
    border: 10px rgb(45, 24, 233) groove;
    text-shadow: 2px 2px 2px rgb(14, 11, 151);
}

figure
{
    text-align: center;
}

ul, ol
{
    color: rgb(78, 34, 18);
}
