@font-face {
    font-family: "milkshake";
    src: url(plc/Milkshake.otf);
    font-weight: normal;
    font-style: normal;
}

body
{
    background-image: url("img/fond.png");
}

h1, h1 + p
{
    text-align: center;
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 2%;
}

#liseret , #contenu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#liseret
{
    float: left;
    width: 5%;
    margin-right: 3%;
    margin-left: auto;
    height: 575px;
    background-image: url("img/u.png");
    border-radius: 10px;
}

#contenu
{
    width: 85%;
}

p
{
    text-shadow: 0px 2px 2px;
    color: rgb(46, 43, 43);
}

h1, h2
{
    text-shadow: 2px 2px 2px black;
    color: rgb(168, 43, 5);
    text-decoration: underline;
}

ul, ol
{
    text-shadow: 1px 2px 2px black;
    color: rgb(5, 94, 94);
}

strong
{
    color: crimson;
    text-decoration: underline;
}

body
{
    box-shadow: 6px 6px 1px black;
    border: 10px groove darkred;
}