@font-face {
    font-family: "milkshake";
    src: url(plc/Milkshake.otf);
}

p, h1
{
    color: rgb(136, 136, 143);
    text-align: center;
}

h2, strong
{
    color: rgb(0, 217, 255);
    text-align: center;
}

body
{
    background-image: url(img/fond.png);
    font-family: "milkshake";
}

figure
{
    text-align: center;
}